.card_add {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  .credit_cards-title-message{
    margin: 50px;
    font-size: 20px;
  }
  .number-details{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    .card-number{
      margin-right: 5px;
    }
    .must_check{
      background-color: red;
      padding: 3px;
      color: #ffffff;
      font-size: 12px;
    }
  }
  .credit_cards-number{
    height: 30px;
    width: 500px;
    margin: 0 auto;
  }
  .image{
    .cards-image{
      margin: 5px;
    }
  }
  .expirationdate__details{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    .date{
      margin-right: 5px;
    }
    .must_check{
      background-color: red;
      padding: 3px;
      color: #ffffff;
      font-size: 12px;
    }
  }
  .expirationdate__choice{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    .month{
      margin-right: 5px;
      .card-default{
        height: 30px;
      }
    }
    .year{
      .card-default{
        height: 30px;
      }
    }
  }
  .securitycode__details{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 5px;
    .securitycode-details{
      margin-right: 5px;
    }
    .must_check{
      background-color: red;
      padding: 3px;
      color: #ffffff;
      font-size: 12px;
    }
    .securitycode__cardsecurity{
      height: 30px;
      width: 500px;
    }
  }
  .add__btn{
    margin: 30px;
  }
}

// クレジットカード詳細
.credit_cards-show{
  height: 100vh;
  .credit_cards-show-frame {
    text-align: center;
    margin: 20px auto;
    .credit_cards-show-title{
      font-weight: bold;
      font-size: 25px;
    }
    .credit_cards-list{
      margin: 30px auto;
      .credit_cards-list-frame{
        margin: 30px auto;
        .credit_card_info{
          height: 60%;
          .credit_card_info-brand{
            height: 50px;
            width: 75px;
            margin: 10px auto;
          }
          .credit_card_info-numbers{
            margin: 10px auto;
            .credit_card-number{
              margin-bottom: 10px;
              font-size: 16px;
            }
            .expiration_date{
              margin-bottom: 15px;
              font-size: 16px;
            }
          }
        }
        .function-link{
          width: 300px;
          height: 30px;
          margin: 0 auto;
          display: flex;
          justify-content: center;
          .card-destroy-btn{
            display: block;
            height: 30px;
            width: 180px;
            border-radius: 10px;
            background-color: #3CCACE;
            padding: 3px;
            .destroy-function-link-btn{
              color: #fff;
              text-decoration: none;
            }
          }
          .card-destroy-btn :hover {
            opacity: 0.5;
          }
          .card-mypage-btn{
            display: block;
            height: 30px;
            width: 200px;
            border-radius: 10px;
            margin-left: 20px;
            background-color: #3CCACE;
            padding: 3px;
            .mypage-link-btn{
              color: #fff;
              text-decoration: none;
              
            }
          }
          .card-mypage-btn :hover {
            opacity: 0.5;
          }
        }
      }
    }
  }
}

// 削除
.destroy{
  margin: 50px auto;
  .destroy-frame{
    text-align: center;
    margin: 50px auto;
    &__message{
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
  .destroy-frame-btns{
    justify-content: center;
    .credit-card-link-btn{
      margin: 10px 10px 25px;
      text-decoration: none;
      color: #3CCACE;
      font-size: 20px;
    }
    .credit-card-link-btn:hover{
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}
// 登録
.create{
  margin: 50px auto;
  .create-frame{
    text-align: center;
    margin: 50px auto;
    &__message{
      text-align: center;
      font-size: 25px;
      margin-bottom: 30px;
    }
  }
  .create-frame-btns{
    justify-content: center;
    .mypage-link-btn{
      margin: 10px 10px 25px;
      text-decoration: none;
      color: #3CCACE;
      font-size: 20px;
    }
    .mypage-link-btn:hover{
      opacity: 0.5;
      text-decoration: underline;
    }
  }
}