.Text-1{
  text-align: center;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 50px;
}

.btn-start{
  margin: 15px 0 0;
  color: #fff;
  background-color: #ea352d;
  position: relative;
}