* {
  box-sizing: border-box;
}

.new_wrapper{
  height: 100vh;
  width: 100vw;
}

.contents{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #F5F5F5;
  &__header{
    width: 100%;
    height: 160px;
    &__logo{
      position: absolute;
      left: 35%;
      margin-top: 50px;
    }
  }
  &__input-list{
    width: 60%;
    height: 100%;
    background-color: #FFFFFF;
    margin-top: 20px;
    &__title{
      height: 160px;
      border-bottom: 7px solid #F5F5F5;
      text-align: center;
      &--letter{
        font-size: 34px;
        font-weight: bold;
        color: #333333;
        text-shadow: 0 0 4px ghostwhite, 0 0 4px white, 0 0 4px white;
        padding-top: 50px;
      }
    }
    &__form{
      height: 80%;
      &__images{
        height: 480px;
        border-bottom: 3px solid ghostwhite;
        &__box{
          @include box; /* _box.scssを読み込む */
          padding-top: 50px;
          &--letter{
            @include letter; /* _letter.scssを読み込む */
          }
          &__case{
            @include box-check; /* _box-check.scssを読み込む */
            &--letter{
              @include box-check-letter; /* _box-check-letter.scssを読み込む */
            }
          }
        }
        &--notice{
          font-size: 17px;
          margin-left: 43px;
          margin-top: 50px;
        }
        &__insert{
          width: 80%;
          height: 45%;
          background-color: #F5F5F5;
          border: 1px dashed #DCDCDC;
          margin-left: 80px;
          margin-top: 30px;
          text-align: center;
          padding-top: 70px;
          &--camera{
            color: #000;
            font-size: 20px;
          }
        }
      }
      &__product-name{
        height: 240px;
        padding-top: 50px;
        &__box{
          @include box; /* _box.scssを読み込む */
          &--letter{
            @include letter; /* _letter.scssを読み込む */
          }
          &__case{
            @include box-check; /* _box-check.scssを読み込む */
            &--letter{
              @include box-check-letter; /* _box-check-letter.scssを読み込む */
            }
          }
        }
        &__form--text{
          width: 80%;
          height: 60px;
          margin-left: 80px;
          margin-top: 20px;
          padding: 20px;
          font-size: 17px;
        }
      }
      &__introduction{
        border-bottom: 3px solid ghostwhite;
        height: 400px;
        &__box{
          @include box; /* _box.scssを読み込む */
          &--letter{
            @include letter; /* _letter.scssを読み込む */
          }
          &__case{
            @include box-check; /* _box-check.scssを読み込む */
            &--letter{
              @include box-check-letter; /* _box-check-letter.scssを読み込む */
            }
          }
        }
        &__form--area{
          width: 80%;
          height: 225px;
          margin-left: 80px;
          margin-top: 20px;
          padding: 20px;
          font-size: 17px;
        }
      }
      &__details{
        border-bottom: 3px solid ghostwhite;
        height: 800px;
        &--title{
          margin-left: 47px;
          font-weight: bold;
          font-size: 18px;
          padding-top: 50px;
        }
        &__box{
          margin-top: 40px;
          margin-bottom: 20px;
          @include box; /* _box.scssを読み込む */
          &--letter{
            @include letter; /* _letter.scssを読み込む */
          }
          &__case{
            @include box-check; /* _box-check.scssを読み込む */
            &--letter{
              @include box-check-letter; /* _box-check-letter.scssを読み込む */
            }
          }
        }
        &__category{
          border: 1px solid #999999;
          width: 80%;
          height: 60px;
          margin-left: 80px;
          margin-bottom: 20px;
          border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
          position: relative;
          &--angle{
            font-size: 20px;
            color: #CCCCCC;
            position: absolute;
            right: 20px;
            top: 20px;
          }
        }
        &__brand{
          height: 130px;
          margin-top: 40px;
          &__box{
            @include box; /* _box.scssを読み込む */
            &--letter{
              @include letter; /* _letter.scssを読み込む */
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              background-color: #BBBBBB;
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
          }
          &--form{
            width: 80%;
            height: 60px;
            margin-left: 80px;
            margin-top: 20px;
            padding: 20px;
            font-size: 17px;
            position: relative;
          }
        }
        &__status{
          height: 40px;
          margin-top: 40px;
          &__box{
            margin-bottom: 20px;
            @include box; /* _box.scssを読み込む */
            &--letter{
              @include letter; /* _letter.scssを読み込む */
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
          }
          &--text{
            width: 80%;
            height: 60px;
            margin-left: 80px;
            border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            position: relative;
            #item_status_id{
              width: 100%;
              height: 60px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            }
          }
        }
      }
      &__delivery{
        border-bottom: 3px solid ghostwhite;
        height: 750px;
        padding-top: 50px;
        &__title{
          width: 50%;
          display: flex;
          align-items: center;
          &--letter{
          margin-left: 47px;
          font-weight: bold;
          font-size: 18px;
          }
          &--circle{
            color: #0095ee;
            text-decoration: none;
            margin-left: 10px;
          }
        }
        &__fee{
          height: 130px;
          margin-top: 40px;
          &__box{
            margin-bottom: 20px;
            @include box; /* _box.scssを読み込む */
            &--letter{
              @include letter; /* _letter.scssを読み込む */
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
          }
          &--text{
            width: 80%;
            height: 60px;
            margin-left: 80px;
            position: relative;
            #item_delivery_fee_id{
              width: 100%;
              height: 60px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            }
          }
        }
        &__area{
          height: 130px;
          margin-top: 70px;
          &__box{
            margin-bottom: 20px;
            @include box; /* _box.scssを読み込む */
            &--letter{
              @include letter; /* _letter.scssを読み込む */
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
          }
          &--text{
            width: 80%;
            height: 60px;
            margin-left: 80px;
            position: relative;
            #item_prefecture_id{
              width: 100%;
              height: 60px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            }
          }
        }
        &__days{
          height: 130px;
          margin-top: 70px;
          &__box{
            margin-bottom: 20px;
            @include box; /* _box.scssを読み込む */
            &--letter{
              @include letter; /* _letter.scssを読み込む */
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
          }
          &--text{
            width: 80%;
            height: 60px;
            margin-left: 80px;
            position: relative;
            #item_shipping_date_id{
              width: 100%;
              height: 60px;
              border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
            }
          }
        }
      }
      &__price{
        height: 430px;
        &__title{
          width: 50%;
          margin-top: 50px;
          margin-left: 47px;
          margin-bottom: 70px;
          display: flex;
          align-items: center;
          &--letter{
          font-weight: bold;
          font-size: 15px;
          font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
          }
          &--circle{
            color: #0095ee;
            text-decoration: none;
            margin-left: 10px;
          }
        }
        &__sale{
          height: 100px;
          width: 100%;
          &__box{
            @include box; /* _box.scssを読み込む */
            height: 70px;
            display: flex;
            align-items: center;
            &--letter{
              @include letter; /* _letter.scssを読み込む */
              width: 100px;
              
            }
            &__case{
              @include box-check; /* _box-check.scssを読み込む */
              margin-right: 20%;
              &--letter{
                @include box-check-letter; /* _box-check-letter.scssを読み込む */
              }
            }
            &__yen{
              display: block;
              font-size: 16px;
            }
            &__text{
              width: 320px;
              height: 60px;
              margin-right: 20px;
              &--cost{
                width: 320px;
                height: 60px;
                border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
                padding-left: 10px;
                
              }
            }
          }
          &__memo{
            text-align: right;
            font-size: 15px;
            margin-right: 83px;
          }
          &__charge{
            height: 46px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 47px;
            padding-right: 90px;
            margin-top: 30px;
            &--tax{
              font-size: 18px;
            }
          }
          &__horizontal{
            width: 90%;
            height: 1px;
            margin-top: 40px;
          }
          &__profit{
            height: 46px;
            white-space: nowrap;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-left: 47px;
            padding-right: 90px;
            margin-top: 40px;
            &--tax{
              font-size: 18px;
            }
          }
        }
      }
      &__post{
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        &--send{
          width: 380px;
          height: 55px;
          color: #fff;
          background-color: #ea352d;
          border: none;
          border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
          font-weight: bold;
          font-size: 17px;
          margin-top: 30px;
          font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        }
        &--button{
          width: 380px;
          height: 55px;
          color: #222;
          background-color: #ccc;
          border: none;
          border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
          font-weight: bold;
          font-size: 17px;
          margin-top: 30px;
          font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
        }
        &--back{
          text-decoration: none;
          color: #0095ee;
          display: block;
          margin: 30px 0;
          
          text-align: center;
        }
        .contents__input-list__form__warning{
          font-size: 15px;
          margin: 0 20px;
          &--text{
            font-size: 13px;
            &__a{
              text-decoration: none;
              color: #0095ee;
            }
          }
        }
      }
    }
  }
}

.footer__new{
  background-color: #F5F5F5;
  height: 240px;
  width: 100%;
  padding-top: 50px;
  &__box{
    width: 94%;
    margin-left: 30px;
    &__list{
      display: flex;
      justify-content: center;
      &--link{
        list-style: none;
        &--letter{
          text-decoration: none;
          font-size: 13px;
          color: #000;
          margin-left: 30px;
        }
      }
    }
  }
  .footer--logo{
    margin-left: 41%;
    margin-top: 40px;
  }
}




#image-box-1 {
  display: flex;
  height: 230px;
  width: 100%;
  margin-right: 0px;
  text-align: center;
  i{
    padding-top: 50px;
    cursor: pointer;
  }
  .item-num-0#image-box__container  {
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 90%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;
    margin-left: 5%;
  }
  .item-num-1{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;
  }
  .item-num-2{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;
  }
  .item-num-3{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;
  }
  .item-num-4{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;

  }
  .item-num-5{
    background-color: rgb(245, 245, 245);
    height: 100%;
    width: 100%;
    border-width: 1px;
    border-style: dashed;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    text-align: center;
  }  
}

.fas.fa-camera{
  font-size: 25px;
  margin-top: 20px;
}
//レビュー表示のCSS
.item-image{
  height: 186px;
  width: 160px;
  border: 1px solid #eee;
  margin-right: 10px;
  .item-image__content{
    padding-top: 30px;
  }
  .item-image__operetion{
    height: 40px;
    .item-image__operetion--delete{
      height: 40px;
      color: #00b0ff;
      cursor: pointer;
      padding-top: 5px;
      text-align: center;
      border: 1px solid #eee	;
      background-color: #EEEEEE;
    }
  }
}


#img-file{
  display: none;
}
#item_images_attributes_1_item_image{
  display: none;
}
#item_images_attributes_2_item_image{
  display: none;
}
#item_images_attributes_3_item_image{
  display: none;
}
#item_images_attributes_4_item_image{
  display: none;
}


#parent_category{
  width: 80%;
  height: 60px;
  margin-left: 80px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  margin-bottom: 30px;
}
#child_category{
  width: 80%;
  height: 60px;
  margin-left: 80px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
  margin-bottom: 30px;
}
#grandchild_category{
  width: 80%;
  height: 60px;
  margin-left: 80px;
  border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
}

.fas.fa-chevron-down{
  display: none;
}

