.Notification {
  .notice {
    background-color: #f0bf38;
    color: #fff;
    text-align: center;
  }

  .alert {
    background-color: #26af38;
    color: #fff;
    text-align: center;}}
.notifications {
  color: white;
  text-align: center;  

  .notice {
    background-color: lightBlue;
  }

  .alert {
    background-color: alert_orange;
  }
}