.Confirmation{
  font-size: 22px;
  padding-top: 32px;
  font-weight: bold;
}
.Purchase-Box{
  padding: 32px 16px;
  border-top: 1px solid rgb(248, 248, 246);

  .How_to-Delivery{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    margin-bottom: 16px;
    font-size: 14px;
    font-weight: 600;
  }
  a{
    color: rgb(0, 149, 238);
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    opacity: 1;
    pointer-events: auto;
    text-decoration: none;
    font-size: 14px;
  }
  .Purchase-Attention{
    color: rgb(255, 2, 17);
    line-height: 1.5;
    margin-bottom: 24px;
    font-size: 14px;
    .btn-purchase{
      margin: 15px 0 0;
      background: #ccc;
      color: #888;
      font-size: 17px;
      font-weight: bold;
      position: relative;
      display: block;
    }
  }
}
.Item{
  display: flex;
  .Item__Pic{
    height: 80px;
    width: 80px;
    border-radius: 4px;
    // display: inline-block;
    overflow: hidden;
    .item1{
      object-fit: cover;
    }
  }
  .Item__Text{
    margin-left: 16px;
    .Item__Name{
      font-size: 14px;
      color: #333333;
      text-align: left;
    }
    .Item__Price{
      display: flex;
      text-align: right;
      margin-top: 8px;
      margin-left: 50px;
    }
  }
}

.Price{
  display: flex;
  font-size: 18px;
  font-weight: 600;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 24px;
}

.Point{
  font-size: 14px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
  .Payment__Point__point{
    display: inline-block;
    font-weight: 600;
    line-height: 1.4em;
    vertical-align: middle;
  }
  .Payment__Point__Text{
    font-size: 12px;
    text-align: right;
    line-height: 1.6;
    max-width: 145px;
  }
}

.Item__Price__tax{
  font-size: 12px;
}
.Item__Price__fee{
  font-size: 15px;
  font-weight: 600;
  margin-left: 8px;
}




