%footer.footer_top
  .contents-box
    .contents-bo__about
      %h2.title
        FURIMAについて
      %ul.texts
        %li.text
          会社概要（運営会社）
        %li.text
          プライバシーポリシー
        %li.text
          FURIMA利用規約
        %li.text
          ポイントに関する特約
    .contents-box__watch
      %h2.title
        FURIMAを見る
      %ul.texts
        %li.text
          カテゴリ一覧
        %li.text
          ブランド一覧
        %li.text
          %br
        %li.text
          %br
    .contents-box__help
      %h2.title
        ヘルプ&ガイド
      %ul.texts
        %li.text
          FURIMAガイド
        %li.text
          FURIMAロゴ利用ガイドライン
        %li.text
          お知らせ
        %li.text
          %br
  .logo-box
    .logo-box__logo
      = link_to image_tag("material/logo/logo-white.png", class: "logo-white", :size => '150x50'), root_path