%header.header
  .top-box
    .top-box__logo
      ロゴ
    .Form-box
      = form_with url: "#", class :"Form", local: true do |f|
        = f.text_field 'キーワード', class: 'Form__inputText', placeholder: 'type a message'
        = f.submit 'Send', class: 'Form-box__submit'
  .bottom-box