.footer
  .nav
    %ul.footer__list
      %li.list1
      = link_to "プライバシーポリシー", url:"#", class: 'text'
      %li.list2
      = link_to "FURIMA利用規約", url:"#", class: 'text'
      %li.list3
      = link_to "特定商取引に関する表記", url:"#", class: 'text'
    .White-Logo
    = link_to image_tag("/assets/logo-white.png", url:"#", alt: "image", class: 'white-logo'), root_path
    .Inc
      @FURIMA, Inc.